<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta lang="en">
    <title>tt_thoma on Scratch</title>

    <link rel="icon" href="../favicon.png" type="image/icon">
    <link rel="stylesheet" href="../static/index.css" type="text/css">
</head>
<body>
    <h1>
        <br>
        Scratch - tt_thoma
    </h1>
        <h2>Welcome user!</h2>
        Here are some examples of my scratch projects:
    <br>
    <strong>Image to hexadecimal</strong>
    <br>
    <iframe src="https://turbowarp.org/660982675/embed?stuck&fps=250" allowtransparency="true" scrolling="no" allowfullscreen="" width="485" height="402" frameborder="0">Loading...</iframe>
    <br>
    <button onclick="window.open('https://scratch.mit.edu/projects/660982675/fullscreen');" style="font-size: 10px; background-color: orange !important;">View on Scratch</button>
    <br>
    <br>
    <footer>
        <button onclick="window.location.href='../index.html';">Home</button>
        <button onclick="window.open('https://scratch.mit.edu/users/tt_thoma');">View my profile on scratch</button>
    </footer>

</body></html>